.heading1{
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    color: #fff;
    margin-bottom: 1rem;
}
.subText{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(59, 58, 58);
    margin-bottom: 1rem;
}
.taskNav{
    min-width: 30vw;
    background-color: #fff;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 1rem;
}
.statusUpdater{
    font-weight: 500;
    color: var(--secondary-text);
}
.sortSection{
    display: flex;
    gap: 0.7rem;
}
.sortButton{
    font-weight: 500;
    color: var(--secondary-text);
    border: none;
    background: transparent;
}
.sortButton:hover{
    color: var(--primary-text);
    font-weight: 700;
}
.activeState{
    color: rgba(114, 164, 251);
    font-weight: 700;
}
.taskContainer{
    border: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}