@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    --primary-text : #3B3A3A;
    --secondary-text : #67666E;
}
::-webkit-scrollbar{
    display: none;
}
body{
    cursor: pointer;
}
button{
    cursor: pointer;
}